@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}
body{
    background: #78c1f3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:650px ;
    height:450px ;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
textarea{
    width: 100%;
    height: 60%;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    resize: none;
    outline: none;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
label{
    padding: 10px;
}
.row span{
    font-weight: bold;
    font-size: 20px;
}